#Back {
    background-image: url("./images/5905384.jpg");
    object-fit:fill;
    background-size: cover;
    background-position: center;
    /* background-blend-mode:multiply; */
    /* background-color:; */
    /* opacity: 0.8; */
background-blend-mode: multiply;
}


